@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container-fluid bg-dark text-light p-5">
        <div class="container bg-dark p-5">
            <h1 class="display-4">Welcome to Human Capital Management App!</h1>
            <hr class="my-4">
            <p class="lead">
                @* <a asp-controller="Employees" asp-action="All" class="btn btn-primary btn-lg" role="button">See our Employees</a> *@
            </p>

        </div>
    </div>
</div>