.employee-image {
    transition: transform 0.3s ease 0s;
    width: 300px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.employee:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#items{
    display:flex;
    gap:10px;
    justify-content:center;
}

#description-input {
    height: 150px;
}

.role {
    border: 2px crimson solid;
    color: crimson;
}

.role-all {
    border: 4px grey solid;
    color: cadetblue;
}

.role, .role-all {

    padding-left: 5%;
    padding-right: 5%;
    border-radius: 10%;
    font-weight: bolder;
    font-size: large;
    text-align: center
}

.speed-stat:hover {
    background-color: rgb(92, 71, 75);
}

.division {
    border: 3px lightgreen solid;
    color: lightgreen;
}

.division-all {
    border: 4px grey solid;
    color: cadetblue;
}

.division, .division-all {

    padding-left: 10%;
    padding-right: 10%;
    border-radius: 10%;
    font-weight: bolder;
    font-size: large;
    text-align: center
}

.endurance-stat:hover {
    background-color: rgb(121, 143, 129);
}

#content
{
    margin-top:10px;
    border-top: 1px solid #e2e7ea;
    padding: 0 0 30px 0;
}


#edit-btn {
    background-color: #DF691A;
    color:black;
    float:left;
}

#edit-btn:hover,#delete-btn:hover,#details-btn:hover {
    color: wheat;
}

#delete-btn {
    background-color: red;
    color: black;
    float: right;
}

#details-btn {
    background-color: green;
    color: black;
}

#admin-btns{
    display:flex;
    gap:45px;
}

#gap{
    display:flex;
    gap:225px;
}

body {
    font-weight: 400;
    color: #666f74;
    text-align: left;
    animation: fade-in .3s linear;
    background-color: #f8f9fb;
}

main {
    background-color: white;
    padding: 5px 40px 40px 60px;
}

#right{
    float:right;
}

#left{
    float:left;
}

#sections {
    margin-top: 30px;
    gap: 80px
}

.y-size{
    font-size:20px;
}

#years {
    display: block;
    margin-top: -15px;
}

#vs{
    font-size:50px;
    margin-top:64px;
}

ul.pagination {
    text-align: center;
    justify-content: center;
    padding-top: 35px;
}

ul.pagination li a {
    color: #000;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin: 0 4px;
    padding: 5px 16px 15px;
}

.active-pages {
    margin-top: 4px;
}

ul.pagination li a.active {
    background-color: #007bff;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 15px;
}
